$header-color: #068afe;

$main-color: #ffffff;

$secundary-color: #151348;

$cta-a: #048aff;

$cta-b: #ffffff;

$header-primary-text: #ffffff; 

$header-secundary-text: #fefeff; 

$titles-color: #152c5b;

$paragraphs-color: #667791;

$links: #2e96ff;

$btn-text-color: #293545;

