@charset "UTF-8";
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.navbar-brand {
  color: #fff;
  font-size: 1.6rem;
}

.logo-nav {
  height: 30px;
}
.navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
}
.navbar-brand img {
  height: 30px;
}
.nav-link {
  margin: 0 0.5rem;
}

/*Clase div contenedor de botones*/
.button-container {
  padding: 8px 0 8px 0;
  display: inline-block;
  justify-content: end;
}

header {
  background-color: #068afe;
}

.sign-in {
  padding: 1rem;
  background-color: rgba(0, 136, 255, 0);
  color: #fefeff;
  font-weight: 18;
}

.button-BuyNow {
  padding: 10px 30px;
  border-radius: 7px;
  color: #293545;
  font-weight: 500;
}

/*#18144c color azul de bloque infinite Solutions */
/*Componente Hero*/
.hero {
  border-top: 0.5px solid rgba(255, 254, 254, 0.377);
  display: flex;
  flex: 1 1;
  background-color: #068afe;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0 82%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 88%);
  padding-bottom: 14rem;
  padding-top: 6rem;
}

.hero-text-block {
  display: block;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.hero-description {
  color: #fefeff;
}

.main-title {
  font-weight: 600;
  font-size: 54px;
}

.main-title-continue {
  display: block; /* Hacer que "done rigth" sea un bloque */
  margin-top: 10px; /* Espacio entre las líneas */
}

/*parte del texto debajo del titulo */
.hero-description {
  margin: 40px 0 60px;
  font-size: 1.4rem;
}

.description-continue {
  display: block;
  margin-top: 10px;
}

.getStarted-btn {
  margin-bottom: 70px;
  padding: 20px 40px;
  border-radius: 10px;
  color: #293545;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

/*Bloque search trusted by*/
.search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-trusted {
  height: 30px;
  margin: 0 1rem;
}

/* Highlights section */
/* Highlights section */
.table-container {
  display: flex;

  align-items: center;

  width: 100%;

  /* margin-left: 20%; */
}

.progress-table {
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 100%;
  max-width: 570px;
  height: 380px;
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.3);
  padding: 30px 55px;
  border: 1px solid #e8e8e8;
}
.progress-table h2 {
  /* color: rgb(80, 41, 195); */

  font-weight: 600;
  font-size: 25px;
}
.progress-table .bars > * {
  margin-bottom: 40px;
}
.progress-table .bars {
  display: flex;

  flex-direction: column;
  margin-top: 20px;
}
.progress-table .bars p {
  font-weight: 500;
  font-size: 18px;
}
.progress-table .bars .progress {
  width: 100%;

  border-radius: 10px;
  height: 3px;
}
.progress-table .bars .progress .progress-bar {
  background-color: #f6be4f;
}
/* Progress bar style webkit (Chrome) */
.progress::-webkit-progress-value {
  background-color: #5b6a64;
}

/* Progress bar style Mozilla (Firefox) */
.progress::-moz-progress-bar {
  background-color: #ace65b;
}

.team-img {
  margin-bottom: 321px;
  margin-left: 272px;
  position: absolute;
  z-index: 1;
  /* height: 336px; */
  border-radius: 10px;
  max-width: 420px;
}

.play {
  position: absolute;
  z-index: 1;
  margin-left: 555px;
  margin-bottom: 580px;
  border: 5px;
  width: 100%;
  max-width: 120px;
  font-weight: 500;
}

.mb-200 {
  margin-bottom: 200px;
}

.tools-info {
}
.features-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-info ul li {
  color: #5cc9a7;
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 33px;
}

.features-info ul li:before {
  position: absolute;
  content: "\f14a";
  font-family: "FontAwesome";
  left: 0;
  font-size: 23px;
}
.features-info {
  width: 100%;
  max-width: 600px;
  margin-top: 70px;
  margin-right: 30px;
}
.features-info .features-title {
  font-size: 25px;
  color: #18144c;
  margin-bottom: 50px;
  line-height: 1.7;
}

.technology-info {
  margin-top: 200px;
  margin-right: 30px;
  width: 100%;
  max-width: 500px;
}
.technology-info a {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 3px solid;
  color: #038aff;
  padding-bottom: 5px;
}
.technology-info a:hover {
  text-decoration: none;
  color: #0056b3;
}
.features-img {
  border-radius: 10px;
}

.easy-to-install-info {
  margin-top: 100px;
  width: 100%;
  max-width: 600px;
}

.product-highlights {
  background-color: #ffffff;
  margin-top: 100px;
}

.highlights-img {
  z-index: 1;

  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.highlights-titles {
  color: #152c5b;
  font-size: 40px;
  line-height: 1.5;
}

.highlights-paragraphs {
  color: #667791;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 37px;
  margin-bottom: 35px;
}

.card-website-ui-kit {
  background-color: #02001d;
  height: 250px;
  width: 100%;
  max-width: 200px;
}

.appstore-icon {
  margin-top: 20px;
  width: 100%;
  max-width: 180px;
  margin-right: 20px;
}

.playstore-icon {
  margin-top: 20px;
  width: 100%;
  max-width: 180px;
  height: 65px;
}

.oval {
  text-align: center;
  border-radius: 50px;
  color: white;
  display: inline-block;
  padding: 5px 13px;
  font-weight: 500;
  margin-bottom: 25px;
}

.tools {
  background-color: #febd3d;
}

.features {
  background-color: #5cc9a7;
}

.technology {
  background-color: #038aff;
}

.technology-cards {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 80px;
}

/* Jimmy Hendrix Card */
.hendrix-card {
  width: 100%;
  max-width: 307px;
  /* height: 355px; */
  border-radius: 13px;
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.3);
  border: 1px solid #eee;
}

.technology-img {
  max-width: 100%;
  border-radius: 13px 13px 0 0;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0 0 20px 20px;
  height: 80px;
  /* justify-content: space-between; */
  padding: 0 20px;
}
.profile-info .name-card-JH {
  margin-left: 20px;
  margin-bottom: 0;
  margin-right: auto;
  font-weight: 500;
}

.JH-circle {
  height: 40px;
  width: 100%;
  max-width: 40px;
  background-color: yellow;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 10px; */
}

.like-icon {
  color: #02001d;
}

/* Components card */
.components-card {
  border: solid 1px #eee;
  border-radius: 10px;
  display: flex;
  margin-top: 15px;
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.3);
}

.check-circle {
  margin-left: 10px;
  margin-top: 18px;
  border-radius: 50px;
  background-color: green;
  height: 50px;
  width: 100%;
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.components-title {
  margin-top: 10px;
  margin-bottom: 1px;
  font-size: 20px;
  color: #18144c;
  font-weight: 500;
}
.components-paragraph {
  color: gray;
  font-weight: 500;
}
.fa-check {
  color: white;
}

.text-card-components {
  margin-left: 20px;
}

/*Airbnb Card*/
.airbnb-card {
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 1px;
  height: 300px;
  margin-top: -80px;
  width: 100%;
  max-width: 307px;
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.3);
  border: 1px solid #eee;
}
.airbnb-card .airbnb-card-logo {
  width: 100%;
  max-width: 115px;
  margin-top: 10px;
  margin-bottom: -28px;
}

.rating-stars {
  color: #223060;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 10px;
}

.rating-reviews {
  color: #62738f;
}

.stars {
  color: gold;
  margin-top: 60px;
  margin-bottom: 30px;
}

.last {
  color: lightgray;
}

/* UI Kit Card */
.card-website-ui-kit {
  background-color: #ffffff;

  height: 320px;
  width: 100%;
  max-width: 307px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.3);
  border: 1px solid #eee;
}
.UIKit-logo {
  margin-top: -50px;
  margin-bottom: 50px;
  border-radius: 50px;
  height: 80px;
}

.people-UIKit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.people-UIKit {
  margin: 0 -7px; /* Ajusta el margen horizontal de las imágenes de personas a 25px */
  height: 40px;
  border-radius: 50px;
  border: 2px solid white;
}

.UIKit-title {
  margin-bottom: 30px;
  margin-top: -30px;
  font-size: 20px;
  font-weight: 500;
}

.UIKit-icons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: -50px;
}

.fa-eye {
  margin-right: 30px;
  margin-left: 30px;
}

.easy-to-install {
  background-color: #febd3d;
  margin-bottom: 30px;
}

.play-btn-2 {
  position: absolute;
  z-index: 2;
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
  max-width: 125px;
  height: 30px;
  justify-content: center;
  border-radius: 10px;
  height: 30px;
}

/*Seccion de manage cards con el boton Add new*/
.manageCards-container {
  padding: 2rem 1rem;

  background-color: white;
  border-radius: 10px 10px 100px 10px;
  margin-bottom: 5rem;
}

.container-ManageCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-manageCards {
  display: inline-block;
  white-space: nowrap;
  font-size: large;
  margin: 1rem 1.5rem;
  font-weight: 500;
}

.button-AddNew {
  background-color: white;
  margin: 0 1.5rem;
  padding: 6px 15px;
  border-radius: 10px;
  color: #293545;
  border-radius: 6px;
  border: 2px solid #ccc;
  cursor: pointer;
  font-weight: 500;
}

.img-card {
  color: white;
  margin: 20px 20px;
  background-color: #1c1245;
  border-radius: 10px;
}

.container-card {
  margin: 10px 20px;
  background-image: url(../resources/images/card_background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.iconMaster-textActive {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svgMastercard {
  width: 100%;
  max-width: 3rem;
}

.cardStatus-text {
  color: white;
  background-color: #5ec9a7;
  padding: 0.4rem 0.8rem;
  border-radius: 7px;
  margin-bottom: 0;
  font-weight: 500;
}

.container-cardNumber {
  padding: 0 1rem;
}

.p-cardNumber {
  text-align: left;
  font-size: small;
  font-weight: lighter;
  margin-bottom: 0;
}

.card-number {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  white-space: nowrap;
}

.name-expiryDate {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
}

.container-nameCard {
  text-align: left;
  margin: 10px 0 35px 15px;
}

.usuarioName {
  text-align: left;
  font-size: small;
  font-weight: 100;
  margin-bottom: 0;
}

.namePerson {
  font-size: 1.2rem;
}

.container-expiryDate {
  text-align: left;
  margin: 10px 150px 35px 15px;
}

.p-expiryDate {
  text-align: left;
  font-size: small;
  font-weight: 100;
  margin-bottom: 0;
}

.dateExpiry {
  font-size: 1.2rem;
}

.container-cost {
  margin: 1.5rem;
}

.cost-Starbucks {
  display: flex;
  justify-content: space-between;
}

.cost-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 3px;
}

.price-cost {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 3px;
}

.container-location {
  opacity: 0.8;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.589);
}

.container-viewAll {
  margin: 1.5rem;
}

.viewAll-anchor {
  border-bottom: 1px dashed;
}

/* Infinite solutions */
.infinite-solutions-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.infiniteSolutions {
  display: flex;
  background-color: #151348;
  height: 300px;
  border-radius: 0px 80px 0px 80px;
  width: 100%;

  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}
.infiniteSolutions .highlights-paragraphs {
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
}
.info {
  margin-left: 100px;
}

.learn-more-button {
  width: 100%;
  max-width: 150px;
  height: 50px;
  border-radius: 6px;
  margin-right: 100px;
}

.learn-more-arrow {
  color: #18144c;
}

/* Awards */
.awards {
  padding-top: 100px;
  margin-top: 100px;
  background-color: #fafbff;
  width: 100%;
  max-width: 100%;
  height: 1020px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0 82%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 86%);
}

.award-card {
  margin-top: 110px;
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 1px #eee;
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.3);
  height: 300px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.award-card img {
  width: 100%;
  max-width: 150px;
}
.award-card p {
  text-align: center;
  color: grey;
}
.award-card a {
  border-bottom: 3px solid black;
  padding-bottom: 4px;
  color: #18144c;
}
.award-card a:hover {
  text-decoration: none;
}
.airbnb-card-b {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px #eee;
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.3);
  height: 300px;
  margin-top: 260px;
  width: 100%;
  max-width: 280px;
}
.airbnb-card-b .airbnb-card-logo-b {
  width: 100%;
  max-width: 150px;
  margin-top: 10px;
  margin-bottom: -40px;
}

.slack {
  margin-top: 260px;
}
.card-description {
  margin-top: 25px;
}
.spotify-card {
  margin-top: 110px;
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 1px #eee;
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.3);
  height: 300px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spotify-card-logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: -40px;
}

.paypal {
  margin-top: 260px;
}

/* add transition to each card */
.awards .col > div{
  transition: 0.4s all;
}
/* Add hover effect */
.awards .col > div:hover {
  transform: scale(1.05);
}

.awards:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo en el hover */
}

/* Helpful Answers */
.helpful-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.helpful-answers h2 {
  color: #18144c;
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.helpful-answers .answers-description {
  color: #667791;
  font-size: 20px;
  margin-bottom: 60px;
}

/* Aditional style for the answers */
.question-answer {
  margin-bottom: 50px;
  width: 100%;
  max-width: 100%;
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: auto;
  border: 2px solid #eee;
  border-bottom: 0;
}

.question {
  background-color: #ffffff;

  color: #151348;
  font-weight: 500;
  cursor: pointer;
  padding: 27px;
  width: 100%;
  max-width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
}
.question p{
  margin-bottom: 0;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding: 0 20px; /* Aditional space for the anwers*/
}

.helpful-answers-CTA {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.helpful-answers-CTA button {
  width: 100%;
  max-width: 160px;
  /* height: 50px; */
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}
.helpful-answers-CTA button i {
  font-size: 16px;
  margin-left: 10px;
}
.helpful-answers-CTA a {
  align-self: center;
}

/* Style for the active answer*/
.question.active {
  /* Active icon styles*/
  background-color: #068afe;
  color: #1c1c16;
}

/* Footer */
.footer {
  background-color: #151348;
  color: #ffffff;
  /* height: 650px; */
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  padding: 140px 0 0;
  /* padding-bottom: 10rem; */
}

.footer .divider {
  margin: 25px 0;
  background: linear-gradient(to right, transparent, #322f83, transparent);
}

.title-footer-solution {
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.p-sub {
  font-size: 18px;
}

.button-documentation {
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: white;
  white-space: nowrap;
  font-size: medium;
  cursor: pointer;
}

.fa-book {
  color: #0589fe;
  margin: 0 1rem 0 0;
}

.button-Purchase {
  margin: 0 0 0 20px;
  font-size: medium;
  color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: #0589fe;
  white-space: nowrap;
  cursor: pointer;
}

.logo-footer {
  margin: 2rem 0 2rem 0;
  height: 40px;
}

.p-odooFooter {
  font-weight: lighter;
  width: 100%;
  max-width: 5rem 25rem;
  max-width: 400px;
  color: #aaa8c1;
}

.divider {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #ddd, transparent);
  width: 100%;
  max-width: 90%;
}

.ico-socialNetwork {
  margin: 1rem 1.5rem 0rem 0;
  color: rgba(255, 255, 255, 0.603);
}

.socialNetwork {
  font-size: large;
  margin: 1rem 1.5rem 3rem 0;
}

.title-AccountAboutCompany {
  margin: 2rem 0 2rem 0;
  font-size: large;
}

.ul-AccountAboutCompany {
  list-style-type: none;
}

.li-AccountAboutCompany {
  margin: 5px 0;
}

.anchor-AccountAboutCompany {
  color: rgba(255, 255, 255, 0.555);
}

.rightReserved {
  color: rgba(255, 255, 255, 0.555);
}

.div-terms {
  display: flex;
  justify-content: flex-end;
}

.p-terms {
  margin: 0 1rem;
  color: rgba(255, 255, 255, 0.555);
}
@media(max-width: 1399px){
  .team-img {
    margin-bottom: 363px;
    margin-left: 284px;
    max-width: 190px;
    border-radius: 15px;
}
.play {
  margin-left: 378px;
  margin-bottom: 437px;
  border: 5px;
  width: 100%;
  max-width: 80px;
  height: 30px;
  font-size: 10px;
}
}
@media (max-width: 992px) {
  .technology-info{
    margin-top: 110px;
  }
  .table-container {
    display: flex;
    justify-content: start;
    height: auto;
    width: 100%;
    max-width: 700px;
  }
  .progress-table {
    width: 100%;
    max-width: 350px;
    height: auto;
    box-shadow: 1px 1px 5px 1px grey;
  }
  .progress-table h2 {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 18px;
  }
  .progress-table .bars > * {
    margin-bottom: 15px;
  }
  .progress-table .bars {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .progress-table .bars .progress {
    width: 100%;
    max-width: 310px;
    background: rgb(144, 134, 134);
    border: none;
    height: 20px;
    border-radius: 10px;
    height: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
  }
  .team-img {
    margin-bottom: 256px;
    margin-left: 230px;
    max-width: 190px;
    border-radius: 15px;
  }
  .play {
    margin-left: 325px;
    margin-bottom: 357px;
    border: 5px;
    width: 100%;
    max-width: 80px;
    height: 30px;
    font-size: 10px;
  }
  .tools-info {
    margin-top: 0;
    margin-right: 450px;
    width: 100%;
    max-width: 600px;
  }
  .tools-info h2 {
    font-weight: 600;
    font-size: 25px;
  }
  .mb-200 {
    margin-bottom: 100px;
  }
  .hendrix-card,
  .profile-info,
  .airbnb-card,
  .card-website-ui-kit {
    max-width: 240px;
  }
  .button-container {
    padding: 4px 0 8px 0;
    display: flex;
    justify-content: end;
    white-space: nowrap;
  }
  .sign-in {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 136, 255, 0);
    color: #fefeff;
    font-size: small;
  }
  .button-BuyNow {
    font-size: small;

    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #293545;
  }
  .hero {
    display: block;
  }

  .card-number {
    margin-right: 3rem;
    font-size: 1.5rem; /* Change font size for card number on 992ps screen */
  }

  .easy-to-install-info {
    margin-top: 50px;

}
.infinite-solutions-container {

  margin-top: 150px;
  margin-bottom: 0;
}
  /* decrease  icon size on 992px */
  .award-card img,.airbnb-card-b .airbnb-card-logo-b,.spotify-card-logo {
    max-width: 100px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1360px;
  }
}


/*# sourceMappingURL=main.css.map */
